:root {
  --black: #000;
  --white: #fff;
  --blue: rgba(12, 72, 156, 1.0);

  --large-font: 20px;
  --medium-font: 17px;
  --small-font: 14px;

  --violet-red: rgb(219, 112, 147);
  --amaranth: rgb(159, 43, 104);
  --cerise: rgb(222, 49, 99);
  --steel-blue: rgb(70, 130, 180);
  --teal: rgb(0, 128, 128);
  --verdigris: rgb(64, 181, 173);
  --yellow: 255, 184, 0

}
